body {
  background-color: #f8f9fa;
}

.logo {
  width: 500px;
}

.login-container {
  max-width: 600px;
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.login-container h2 {
  color: black;
  text-align: left;
}
